
.deleteButton {
    margin: 20px;
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .deleteButton:hover {
    background-color: darkred;
  }
  
  .deleteButton:focus {
    outline: none;
  }
  