
form button[type="submit"] {
    padding: 10px 15px;
    background-color: #F5BB00;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button[type="submit"]:hover {
    background-color: darkgoldenrod;
}

form button[type="submit"]:focus {
    outline: none;
}
