.header-light {
    background-color: white;
    color: black;
}

.header-dark {
    background-color: #333;
    color: white;
}

/* Header light and dark styles */
.header-light, .header-dark {
    display: flex;
    justify-content: space-between;  /* Asegura que el contenido se distribuya correctamente */
    align-items: center;
    padding: 10px 20px;
}

.header-image {
    width: 250px; 
    height: auto;  
    margin-left: 10px;  
    order: 2; 
}

header {
    background-color: #333;
    color: white; 
    padding: 10px 20px; 
    text-align: center; 
    width: 97%; 
}


